.main-body {
    background-image: url("pictures/world.png");
    background-size: 100%;
}

#main-h1 {
    margin-top: 4vh;
    text-align: center;
    color: #B40A1B;
    font-family: 'Otomanopee One', sans-serif;
}

p {
    text-align: center;
    color: inherit;
    font-size: 1.5em;
    font-family: 'Otomanopee One', sans-serif;
}

.flex-container {
    display: flex;
    margin: auto;
    width: 66vh;
    height: 66vh;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 66vh;
}

.card {
    height: 20vh;
    width: 20vh;
    margin: 0.5vh;
    position: relative;

    transition: all 1s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    background: #FBE7B5;
    color: #B40A1B;
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    background: #B40A1B;
    color: #FBE7B5;
    transform: rotateY(180deg);
    z-index: 0;
}

.back, .front {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

